<launch>
<!--    <master auto="start"/>-->
    <param name="/use_sim_time" value="false"/>


    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="planner_frequency" value="1.0" />
        <rosparam file="$(find costmap2d_launch)/config/my_costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find costmap2d_launch)/config/my_costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find costmap2d_launch)/config/my_local_costmap_params.yaml" command="load" />
        <rosparam file="$(find costmap2d_launch)/config/my_global_costmap_params.yaml" command="load" />
        <rosparam file="$(find costmap2d_launch)/config/move_base_params.yaml" command="load" />
<!--        <rosparam file="$(find costmap2d_launch)/config/base_local_planner_params.yaml" command="load"/>-->
    </node>
</launch>
